.cl-signIn-start > div:last-child {
  background-color: rgb(187, 187, 187);
}

.cl-signUp-start > div:last-child {
  background-color: rgb(187, 187, 187);
}

.cl-signUp-emailCode > div:last-child {
  background-color: rgb(187, 187, 187);
}

.cl-signUp-complete > div:last-child {
  background-color: rgb(187, 187, 187);
}